.flows.json.backup
[
    {
        "id": "3dedfda2920e328d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97476a438e6a4014",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f258d3af1138eb38",
        "type": "mqtt-broker",
        "name": "",
        "broker": "b6f457aaa3a941ad806ee701e029f684.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "5555e2a4f5ebc9b7",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5555e2a4f5ebc9b7",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "ce7e56e7329bf09e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "b6f457aaa3a941ad806ee701e029f684.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1f5cf5739862192",
        "type": "serial in",
        "z": "3dedfda2920e328d",
        "name": "COM5",
        "serial": "97476a438e6a4014",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "9117e78e14c90e2a"
            ]
        ]
    },
    {
        "id": "5c87c2e21d983c6b",
        "type": "debug",
        "z": "3dedfda2920e328d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "9117e78e14c90e2a",
        "type": "function",
        "z": "3dedfda2920e328d",
        "name": "function 1",
        "func": "var size = msg.payload.length;\nmsg.post = 0;\nif(size > 1){\n    var status = msg.payload.substring(size - 3, size-2);\n    switch(msg.payload.substring(3,4)){\n        case \"2\":\n            msg.payload = \"{\\\"Val2\\\":\" + Number(status) + \",\";\n            break;\n        case \"3\":\n            msg.payload = \"\\\"Val3\\\":\" + Number(status) + \",\";\n            break;\n        case \"4\":\n            msg.payload = \"\\\"Val4\\\":\" + Number(status) + \",\";\n            break;\n        case \"5\":\n            msg.payload = \"\\\"Val5\\\":\" + Number(status) + \",\";\n            break;\n        case \"6\":\n            msg.payload = \"\\\"Val6\\\":\" + Number(status) + \",\";\n            break;\n        case \"7\":\n            msg.payload = \"\\\"Val7\\\":\" + Number(status) + \",\";\n            break;\n        case \"8\":\n            msg.payload = \"\\\"Val8\\\":\" + Number(status) + \",\";\n            break;\n        case \"9\":\n            msg.payload = \"\\\"Val9\\\":\" + Number(status) + \",\";\n            break;\n        case \"1\":\n            msg.payload = \"\\\"Val10\\\":\" + Number(status) + \"}\";\n            msg.post = 1;\n            break;\n        default:\n            msg.payload = \"\";\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "5c87c2e21d983c6b",
                "f3ce02a1f70b3c88",
                "b23a3e54c6911fc9"
            ]
        ]
    },
    {
        "id": "e1f87805ca66f8c8",
        "type": "file",
        "z": "3dedfda2920e328d",
        "name": "",
        "filename": "C:\\Users\\natha\\FlameSensorProj\\Outputs.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1080,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f3ce02a1f70b3c88",
        "type": "switch",
        "z": "3dedfda2920e328d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "b888dd718ebbdb33"
            ],
            [
                "e1f87805ca66f8c8"
            ]
        ]
    },
    {
        "id": "b888dd718ebbdb33",
        "type": "file",
        "z": "3dedfda2920e328d",
        "name": "",
        "filename": "C:\\Users\\natha\\FlameSensorProj\\Outputs.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "60973d3684b70a90",
        "type": "debug",
        "z": "3dedfda2920e328d",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 60,
        "wires": []
    },
    {
        "id": "b23a3e54c6911fc9",
        "type": "switch",
        "z": "3dedfda2920e328d",
        "name": "",
        "property": "post",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "c2d5d72975a7af69"
            ]
        ]
    },
    {
        "id": "c2d5d72975a7af69",
        "type": "file in",
        "z": "3dedfda2920e328d",
        "name": "FIle Reader",
        "filename": "C:\\Users\\natha\\FlameSensorProj\\Outputs.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "8f05206c88c61d78"
            ]
        ]
    },
    {
        "id": "ee5a40770cccfa34",
        "type": "mqtt out",
        "z": "3dedfda2920e328d",
        "name": "",
        "topic": "PinVals",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce7e56e7329bf09e",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "8f05206c88c61d78",
        "type": "json",
        "z": "3dedfda2920e328d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "60973d3684b70a90",
                "ee5a40770cccfa34"
            ]
        ]
    }
]